/* css styles */
body {
 background-color: #b6d9efcd;
 width: 1400px;
 height: 1300px;
 margin: auto;
 color: black;
 }

 table {
    td {
        padding: 10px;
        border: 1px solid #dddddd;
    }
    .tr-odd {
        background-color: #ffffff;
    }
 }